
<style>
}
 body {
 background-color: #faf2e4;
 margin: 0 10%;
 font-family: sans-serif;
 }
 h1 {
 text-align: center;
 font-family: serif;
 font-weight: normal;
 text-transform: uppercase;
 border-bottom: 1px solid #57b1dc;
 margin-top: 30px;
 }h2 {
  color: #d1633c;
  font-size: 1em;
}
.gif{
{
    position: absolute;
    margin: auto;
    background-image: url(/path/to/starting.frame);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: play 0.5s infinite steps(1);
    animation-play-state: paused;
}
.gif:hover {
    animation-play-state:running;
}
 @keyframes play {
    0%   { background-image: url('/path/to/0.frame'); } 
    15%  { background-image: url('/path/to/1.frame'); }
    30%  { background-image: url('/path/to/2.frame'); }
    45%  { background-image: url('/path/to/3.frame'); }
    60%  { background-image: url('/path/to/4.frame'); }
    75%  { background-image: url('/path/to/5.frame'); }
    90%  { background-image: url('/path/to/6.frame'); }
    100% { background-image: url('/path/to/7.frame'); }
}
</style>

